<div class="container my-3">
  <div class="card">
    <div class="card-block goal-problem-card-header" *ngIf="examination | async">
      <div class="row">
        <div class="col">
          <h1 class="card-title">{{ (examination | async).name }}
            <small class="text-muted">
              {{ (subject | async).name }}
              <span class="badge badge-pill mx-1" [ngClass]="'goal-subject-' + (subject | async).color" *ngFor="let tag of (examination | async).tags">{{ tag.display }}</span>
            </small>
          </h1>
        </div>
      </div>
      <div class="row">
        <div class="col-5">
          <dl class="row">
            <dt class="col-3">举行时间</dt>
            <dd class="col-9">{{ (examination | async).date | amDateFormat:'LL' }}</dd>

            <dt class="col-3">最后编辑</dt>
            <dd class="col-9">{{ (examination | async).timeUpdated | amCalendar }}</dd>

            <dt class="col-3">创建时间</dt>
            <dd class="col-9">{{ (examination | async).timeCreated | amCalendar }}</dd>
          </dl>
        </div>
        <div class="col-5">
          <dl class="row">
            <dt class="col-3">年级名次</dt>
            <dd class="col-9">???</dd>
            <dt class="col-3">班级名次</dt>
            <dd class="col-9">???</dd>
            <dt class="col-3">总分</dt>
            <dd class="col-9">{{ (examination | async).detail?.score }} / {{ (examination | async).detail?.totalScore }}</dd>
          </dl>
        </div>
        <div class="col-2">
          <a class="btn btn-block btn-secondary"><i class="fa fa-line-chart" aria-hidden="true"></i> 分析</a>
          <a class="btn btn-block btn-secondary"><i class="fa fa-files-o" aria-hidden="true"></i> 比较</a>
        </div>
      </div>
    </div>
    <ul class="list-group list-group-flush">
      <li class="list-group-item goal-problem-card d-flex align-items-center justify-content-center" *ngIf="!(problems$ | async)">
        <span class="card-title text-muted"><i class="fa fa-circle-o-notch fa-spin fa-3x fa-fw"></i></span>
      </li>
      <li class="list-group-item goal-problem-card d-flex" *ngFor="let problem of problems$ | async">
        <div class="col-1 d-flex flex-column justify-content-center">
          <h1 class="goalize-problem-number display-4 text-center my-0"><samp>{{ problem.index }}</samp></h1>
          <div class="progress">
            <div class="progress-bar" [ngClass]="'goal-subject-' + (subject | async).color" role="progressbar" [ngStyle]="{ 'width': (problem.score / problem.totalScore * 100) + '%' }">{{ problem.score }} <small>/ {{ problem.totalScore }}</small></div>
          </div>
        </div>
        <div class="col">
          <h4>题型 <span class="badge mx-1" [ngClass]="'goal-subject-' + (subject | async).color" *ngFor="let tag of problem.type">{{ tag.display }}</span></h4>
          <h4>考点 <span class="badge mx-1" [ngClass]="'goal-subject-' + (subject | async).color" *ngFor="let tag of problem.knowledge">{{ tag.display }}</span></h4>
          <h4>错因 <span class="badge mx-1" [ngClass]="'goal-subject-' + (subject | async).color" *ngFor="let tag of problem.reason">{{ tag.display }}</span></h4>
        </div>
      </li>
      <li class="list-group-item goal-problem-card d-flex align-items-center justify-content-center" (click)="open(problemContent)" *ngIf="problems$ | async">
        <span class="card-title text-muted"><i class="fa fa-plus fa-3x" aria-hidden="true"></i></span>
      </li>
    </ul>
  </div>
</div>

<template #problemContent let-c="close" let-d="dismiss">
  <div class="modal-header">
    <h4 class="modal-title">添加试题</h4>
  </div>
  <div class="modal-body">
    <form (ngSubmit)="c('ok')" #problemForm="ngForm">
      <div class="form-group">
        <div class="input-group">
          <input type="number" class="form-control" placeholder="得分" [(ngModel)]="__problem.score" name="score" required>
          <span class="input-group-addon">/</span>
          <input type="number" class="form-control" placeholder="总分" [(ngModel)]="__problem.totalScore" name="totalScore" required>   
        </div>
        <div class="goalize-progress-score progress">
          <div class="progress-bar" [ngClass]="'goal-subject-' + (subject | async).color" role="progressbar" [ngStyle]="{ 'width': (__problem.score / __problem.totalScore * 100) + '%' }"></div>
        </div>       
      </div>
      <div class="form-group">
        <tag-input class="goalize-input-tag" [(ngModel)]="__problem.type" name="type" theme="minimal" [placeholder]="'接着添加类型'" [secondaryPlaceholder]="'题目类型'" >
          <tag-input-dropdown [autocompleteItems]="atType" [showDropdownIfEmpty]="true"></tag-input-dropdown>
        </tag-input>
      </div>
      <div class="form-group">
        <tag-input class="goalize-input-tag" [(ngModel)]="__problem.reason" name="reason" theme="minimal" [placeholder]="'接着添加错因'" [secondaryPlaceholder]="'错误原因'">
          <tag-input-dropdown [autocompleteItems]="atReason" [showDropdownIfEmpty]="true"></tag-input-dropdown>
        </tag-input>
      </div>
      <div class="form-group">
        <tag-input class="goalize-input-tag" [(ngModel)]="__problem.knowledge" name="knowledge" theme="minimal" [placeholder]="'接着添加知识点'" [secondaryPlaceholder]="'知识点'">
          <tag-input-dropdown [autocompleteItems]="atKnowledge" [showDropdownIfEmpty]="true">
          </tag-input-dropdown>
        </tag-input>
      </div>
      <div class="form-group">
        <input type="number" class="form-control" placeholder="试题数" [(ngModel)]="__problem.group" name="group" required>   
      </div>
      <button class="btn btn-primary text-xs-right" (click)="c('next')"  [disabled]="!problemForm.form.valid">下一题</button>
      <button class="btn btn-primary text-xs-right" (click)="c('ok')"  [disabled]="!problemForm.form.valid">确定</button>
      <button class="btn btn-secondary text-xs-right" (click)="c('cancel')">取消</button>
    </form>
  </div>
</template>
