.goal-problem-card {
  min-height: 8rem;
  cursor: pointer;
}

.goal-problem-card-header {
  min-height: 15rem;
}

.goalize-problem-number {
  letter-spacing: -0.3rem;
}

.goalize-progress-score {
  .progress-bar {
    height: 0.3rem;
  }
}
