// styles in src/style directory are applied to the whole page

@import "footer";
@import "colors";

body {
  font-family: "Helvetica Neue", "Helvetica", "Arial", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "WenQuanYi Micro Hei", sans-serif;
}

.goalize-navbar-indicator {
  transition: opacity 0.5s;
  opacity: 0;
  &.show {
    opacity: 1;
  }
}

.goalize-input-tag {
  .ng2-tags-container {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    padding: 0 0.4rem;
    width: 100%;
  }
}

.ng2-dropdown-menu {
  z-index: 2000 !important;
}

.goalize-input-datepicker {
  .form-control {
    flex-direction: row;
  }
}