/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 7rem;
}

.footer-main {
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 4rem;
  line-height: 4rem; /* Vertically center the text there */
  background-color: #f5f5f5;
}
