.goal-navbar-red {
  background-color: $md-red-700;
  color: $md-light-text-primary;
}

.goal-navbar-pink {
  background-color: $md-pink-700;
  color: $md-light-text-primary;
}

.goal-navbar-purple {
  background-color: $md-purple-700;
  color: $md-light-text-primary;
}

.goal-navbar-deep-purple {
  background-color: $md-deep-purple-700;
  color: $md-light-text-primary;
}

.goal-navbar-indigo {
  background-color: $md-indigo-700;
  color: $md-light-text-primary;
}

.goal-navbar-blue {
  background-color: $md-blue-700;
  color: $md-light-text-primary;
}

.goal-navbar-light-blue {
  background-color: $md-light-blue-700;
  color: $md-light-text-primary;
}

.goal-navbar-cyan {
  background-color: $md-cyan-700;
  color: $md-light-text-primary;
}

.goal-navbar-teal {
  background-color: $md-teal-700;
  color: $md-light-text-primary;
}

.goal-navbar-green {
  background-color: $md-green-700;
  color: $md-light-text-primary;
}

.goal-navbar-light-green {
  background-color: $md-light-green-700;
  color: $md-light-text-primary;
}

.goal-navbar-lime {
  background-color: $md-lime-700;
  color: $md-light-text-primary;
}

.goal-navbar-yellow {
  background-color: $md-yellow-700;
  color: $md-light-text-primary;
}

.goal-navbar-amber {
  background-color: $md-amber-700;
  color: $md-light-text-primary;
}

.goal-navbar-orange {
  background-color: $md-orange-700;
  color: $md-light-text-primary;
}

.goal-navbar-deep-orange {
  background-color: $md-deep-orange-700;
  color: $md-light-text-primary;
}

.goal-navbar-brown {
  background-color: $md-cyan-700;
  color: $md-light-text-primary;
}

.goal-navbar-grey {
  background-color: $md-grey-700;
  color: $md-light-text-primary;
}

.goal-navbar-blue-grey {
  background-color: $md-blue-grey-700;
  color: $md-light-text-primary;
}

.goal-navbar-white {
  background-color: $md-white;
  color: $md-dark-text-primary;  
}

.goalize-navbar {
  transition: background-color 0.3s ease-out, color 0.3s ease-out;
}
