.goal-subject-red {
  background-color: $md-red-500;
  color: $md-light-text-primary;
}

.goal-subject-pink {
  background-color: $md-pink-500;
  color: $md-light-text-primary;
}

.goal-subject-purple {
  background-color: $md-purple-500;
  color: $md-light-text-primary;
}

.goal-subject-deep-purple {
  background-color: $md-deep-purple-500;
  color: $md-light-text-primary;
}

.goal-subject-indigo {
  background-color: $md-indigo-500;
  color: $md-light-text-primary;
}

.goal-subject-blue {
  background-color: $md-blue-500;
  color: $md-light-text-primary;
}

.goal-subject-light-blue {
  background-color: $md-light-blue-500;
  color: $md-dark-text-primary;
}

.goal-subject-cyan {
  background-color: $md-cyan-500;
  color: $md-dark-text-primary;
}

.goal-subject-teal {
  background-color: $md-teal-500;
  color: $md-light-text-primary;
}

.goal-subject-green {
  background-color: $md-green-500;
  color: $md-dark-text-primary;
}

.goal-subject-light-green {
  background-color: $md-light-green-500;
  color: $md-dark-text-primary;
}

.goal-subject-lime {
  background-color: $md-lime-500;
  color: $md-dark-text-primary;
}

.goal-subject-yellow {
  background-color: $md-yellow-500;
  color: $md-dark-text-primary;
}

.goal-subject-amber {
  background-color: $md-amber-500;
  color: $md-dark-text-primary;
}

.goal-subject-orange {
  background-color: $md-orange-500;
  color: $md-dark-text-primary;
}

.goal-subject-deep-orange {
  background-color: $md-deep-orange-500;
  color: $md-light-text-primary;
}

.goal-subject-brown {
  background-color: $md-cyan-500;
  color: $md-light-text-primary;
}

.goal-subject-grey {
  background-color: $md-grey-500;
  color: $md-dark-text-primary;
}

.goal-subject-blue-grey {
  background-color: $md-blue-grey-500;
  color: $md-light-text-primary;
}
